@model List<SalesWebProject.ViewModels.DepartmentsViewModel>;

@{
    ViewBag.Title = "Departamentos";
}

<div class="container">
    <div class="d-flex justify-content-between">
        <div>
            <h2>@ViewBag.Title</h2>
        </div>
        <div>
            <a asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-lg"></i>
                Novo
            </a>
        </div>
    </div>

    <hr />

    <table class="table">
        <thead>
            <tr>
                <th width="10%" scope="row">#
                </th>
                <th>Name
                </th>
                <th width="1%"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <strong>@item.Id.ToString("D2")</strong>
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <i class="bi bi-three-dots-vertical" style="font-size: 1.2rem;" data-bs-toggle="dropdown"></i>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                                <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                                <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
